.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 86vh; 
  width: 100vw;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.landingPageImage{
  width: 40vw;
  height: 50vh;
}

.landingImageDiv{
  padding-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.studentLists{
  margin-left: 10vw;
}

.landingPage {
  display: flex;
  flex-direction: row; 
  align-content: center;
  justify-content: space-evenly;
}

.mainTitle{
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  padding: 0px;
}

.contentDetailedText{
  font-size: 16px;
  width: 30vw;
  color: black;
  margin: 0px;
  padding: 0px; 
  text-align: justify;
}

.rightSideContent{
  display: flex;
  flex-direction: column;
  margin-top: 13vh;
}

.letsGoButton{
  
}