.studentPageLeftTopContentImage {
    
}

.userProfileImageLeft{
    border-radius: 50%;
    width: 200px;
    height: 210px;

    padding: 10px 10px 10px 10px;
}

.studentPageLeftSide{
    background-color: #f5f5f5;
    height: 100vh;
    width: 250px;
    position: static;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

}
.studentPageLeftTopContent{
    text-align: center;
    background-color: #f5f5f5;
}


.studentPageLeftTopContentTextName{
    font-size: 25px;
    font-weight: bold;
    color: black;

}

.studentPageLeftTopContentTextGrade{
    margin-top: -10px;
    font-size: 18px;
    color: black;
}



.studentPageLeftTopContentTextLetterGrade{
    border-top: 1px solid #e5e5e5;
    font-size: 30px;
    color: black;
}

.studentPageLeftTopContentLetterGrade{
    border-bottom: 1px solid #e5e5e5;
    font-size: 40px;
    font-weight: bold;
    color: black;
}



.studentPageBottomLeftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.ratingStudentPageText{
    font-size: 31px;
    color: black;
}

.ratingStudentPageRate{
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px;
    margin-top: 12px;
}

.ratingIconImage{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.ratingIconAndStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.printStudentReportButton{
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    font-size: 20px;
    color: black;

}

.studentPage{
    display: flex;

}



.studentReportBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.assignmentTable{

    width: 40vw;
    height: 100%;
    border-radius: 1px;
    border: 1px solid #e5e5e5;

}

.assignmentTableList{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;


}

.chart-container{
    width: 55vw;
    height: 20vh;
}

.studentPageRightContent {
}

.studentPageRightSide{
    margin-left: 11vw;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}